/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 11-Sept-2023, 10:23:15 pm
    Author     : Admin
*/
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(backgroundimage10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 606px;
}
.thank{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin-left: 500px;
    margin-top: 140px;
    font-size: 70px;
}
p
{
    font-size: 60px;
    margin-left: 500px;
    color: crimson;
    margin-top: 10px;
}
.enjoy
{
    font-size: 90px;
    margin-top: 10px;
    border-radius: 25px;
    margin-left: 350px;
    padding: 20px;
    color:rgb(229, 177, 110);
    width: 900px;
    text-align: center;
    font-family: cursive;
}
.anger
{
    margin-left: 300px;
    text-decoration: none;
    font-size: 30px;
}

